//Grid
@import 'reset.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@mixin font-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@mixin font-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
@mixin font-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
@mixin font-bold {
  font-family: 'Roboto', sans-serif;
  font-weight:700;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.menu {
  margin-top: 0;
  padding: 10px 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 5px;
    @include font-medium;
    font-size: 14px;
    cursor: pointer;
    color: #454545;
    transition: box-shadow .1s ease,
    color .1s ease,
    background-color .1s ease;
    a {
      display: block;
      padding: 5px;
      color: #454545;
      text-decoration: none;
    }
    &:hover {
      box-shadow: 0 0 0 2px #454545;
    }
    &.active {
      box-shadow: 0 0 0 2px #454545;
      background-color: #454545;
      a {
        color: #fff;
      }
    }
  }
}

.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5;
}
.song {
  position: relative;
  flex-basis: 134px;
  padding-bottom: 10px;
  transition: background-color .2s ease;
  &.active {
    background-color: #a6f6a9;
  }
  img {
    margin-bottom: 10px;
    max-width: 133px;
    width: 100%;
    height: 134px;
    cursor: pointer;
  }
  .metadata {
    padding: 0 5px 5px 5px;
    @include font-regular;
    .author {
      margin-bottom: 3px;
      font-size: 11px;
      @include font-light;
    }
    .title {
      display: block;
      margin-bottom: 5px;
      font-size: 13px;
      @include font-medium;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
  audio {
    width:100%;
  }
  .controls {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    .btn {
      display: block;
      margin: 0 auto;
      opacity: 0;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      font-size: 24px;
      background-color: #fff;
      transition: opacity .2s ease;
      outline: none;
      &.active {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 1200px) {

  }
}

.player {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  &.active {
    display: block;
  }
  &-audio {
    display: inline;
    margin: 0 auto;
    width: 50%;
    vertical-align: middle;
  }
  &-meta {
    padding-top: 10px;
    text-align: center;
    span {
      @include font-bold;
      font-size: 16px;
    }
  }
  &-prev, &-next {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    height: 17px;
    width: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  }
  &-prev {
    background-image: url("../img/001-rewind.png");
  }
  &-next {
    background-image: url("../img/002-fast-forward.png");
  }
}

//Loader
.cs-loader {
  display: none;
  position: relative;
  //top: 40px;
  //bottom: 0;
  width: 100%;
  background-color: #fff;
  &.active {
    display: block;
  }
}

.cs-loader-inner {
  //position: absolute;
  //top: 50%;
  //transform: translateY(-50%);
  width: 100%;
  color: #000;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
